.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 0.8rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.sectionContainer {
  padding: 2rem 6rem;
}

.sectionPopur {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: fattern;
}

.article {
  padding: 2rem 2rem;
  font-size: 0.82rem;
}

@font-face {
  font-family: 'fattern';
  src: url("/fonts/Fattern-GO6zm/Fattern-GO6zm.otf");
  font-weight: 400;
  font-display: swap;
}