.container {
  /* max-width: 36rem; */
  min-width: 100%;
  padding: 0 0rem;
  /* margin: 3rem auto 6rem; */
  margin: 0rem auto ; /* left-right top-bottom */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
}

.backToHome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  margin: 10px auto;
}
